#map-canvas {
   width: 100%;
   height: 500px;
}

#map-thumbnail {
    width: 100%;
    height: 200px;
}

.urbo-item .urbo-mini-detail {
    min-height: 100px;
    max-height: 180px;
}

.urbo-thumbnail {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.urbo-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#map-canvas img {
    max-width: none;
}

#map-canvas label {
    width: auto; display:inline;
}

#map-thumbnail img {
    max-width: none;
}

#map-thumbnail label {
    width: auto; display:inline;
}
